<section>
<h2>Projects:</h2>
<ul>
	<% @project.each do |p| %>
		<li><%= link_to(p.name, project_path(p)) %></li>
	<% end %>
</ul>

<p><%= link_to "Add a new project", new_project_path %></p>
</section>