<h2>Projects Index:</h2>
<ul>
	<% @project.each do |p| %>
		<%=raw "<li>" + link_to(p.name.capitalize, project_path(p)) + "</li>" %>
	<% end %>
</ul>

<p><%= link_to "Add a new project", new_project_path %></p>
