<h1>References#show</h1>
<p>Find me in app/views/references/show.html.erb</p>
<p>Title: <%= @reference.title %></p>
<p>Abstract: <%= @reference.abstract %></p>
<p>Authors: <% if @reference.authors.any? %>
<%= @reference.author_list() %>
<% end %>
<% if @reference.reference_type == "journal" %>
<p>Journal: <%= @reference.journal %></p>
<% end %>