<section>
<h3>Create a new category:</h3>
<%= form_for @category do |f|%>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div	<div class="actions">
		<%= f.submit "Create Category"%>
	</div>
<% end %>
</section>